:host {
  align-self: center;
  margin: 0 auto;
}

.init-card {
  width: 500px;
}

.card-input {
  width: 100%;
  margin-top: 10px;
}

.init-tab {
  width: 500px;
  margin-bottom: 84px;
}

.init-action {
  padding: 6px 16px 8px 16px;
}
