<mat-card>
  <mat-card-header>
    <mat-card-title>Create account</mat-card-title>
    <mat-card-subtitle>Create new account</mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <div class="input-row">
        <mat-form-field appearance="outline">
          <mat-label>Accounts group</mat-label>
          <mat-select formControlName="group">
            @for (group of groups; track group) {
            <mat-option [value]="group.id">{{ group.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="name-container input-row">
        <mat-form-field appearance="outline">
          <mat-label>Account name</mat-label>
          <input matInput placeholder="Account name" formControlName="name" />
          @if (createAccountForm.controls['name'].invalid) {
          <mat-error>Account name is required</mat-error>
          }
        </mat-form-field>

        <div>
          <button type="button" class="icon-button" aria-label="Account icon" (click)="openIconsModal()">
            <img class="icon" [src]="createAccountForm.controls['icon'].value | iconUrl: defaultIconId" />
          </button>
        </div>
      </div>

      <app-tags-selector
        class="input-row"
        [allTags]="allTags"
        [selectedTags]="createAccountForm.value['tags']"
        (changeTags)="onTagsChange($event)">
      </app-tags-selector>
    </mat-card-content>

    <mat-card-actions>
      <mat-card-actions>
        <button type="submit" mat-flat-button color="primary" [disabled]="createAccountForm.invalid">Create</button>
        <button type="button" mat-flat-button [routerLink]="['/accounts']">Cancel</button>
      </mat-card-actions>
    </mat-card-actions>
  </form>
</mat-card>
