:host {
  display: flex;
  flex-direction: row;
  //flex: 1 1 auto;
}

mat-card {
  width: 100%;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  //gap: 15px;
}

.name-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.input-row {
  display: flex;
  flex: 1 1 auto;
}

mat-form-field {
  flex: 1 1 auto;
}

.icon-button {
  background: none;
  margin: 6px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.icon-button .icon {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
