<mat-form-field appearance="outline">
  <mat-label>Tags</mat-label>
  <mat-chip-grid #chipGrid aria-label="Tags selection">
    @for (tag of selectedTags; track tag) {
    <mat-chip-row (removed)="removeTag(tag)">
      {{ tag }}
      <button matChipRemove [attr.aria-label]="'remove ' + tag">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    }
  </mat-chip-grid>
  <input
    placeholder="New Tag..."
    #tagInput
    [formControl]="tagsCtrl"
    [matChipInputFor]="chipGrid"
    [matAutocomplete]="auto"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="addTag($event)" />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
    @for (tag of filteredTags | async; track tag) {
    <mat-option [value]="tag">
      {{ tag }}
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
