<cdk-virtual-scroll-viewport itemSize="50" class="viewport" (scrolledIndexChange)="loadMore($event)">
  <mat-action-list>
    <mat-list-item *cdkVirtualFor="let record of records">
      <div matLine class="line" (click)="editRecord(record)">
        <div class="type-icon">
          <img [src]="recordTypeIcon(record.type) | iconUrl" class="record-type-icon" />
        </div>

        <div class="datetime">{{ record.datetime | date: 'YYYY/MM/dd HH:mm' }}</div>

        <div class="category">
          <img [src]="getCategory(record.category).icon | iconUrl" class="icon-36" />
          <div>{{ getCategory(record.category).name }}</div>
        </div>

        <div class="transaction">
          @switch (record.type) {
          <!--income-->
          @case (recordType.Income) {
          <div class="amount">{{ record.to.amount }}</div>
          <img [src]="getAsset(record.to.asset).icon | iconUrl" class="icon-28" />
          <!--          <div>{{ getAsset(record.to.asset).ticker }}</div>-->
          }
          <!--spending-->
          @case (recordType.Spending) {
          <div class="amount">{{ record.from.amount }}</div>
          <img [src]="getAsset(record.from.asset).icon | iconUrl" class="icon-28" />
          <!--          <div>{{ getAsset(record.from.asset).ticker }}</div>-->
          }
          <!--transfer-->
          @case (recordType.Transfer) {
          <!--transfer in one account-->
          @if (record.from.account === account && record.to.account === account) {
          <div class="amount">{{ record.from.amount }}</div>
          <img [src]="getAsset(record.from.asset).icon | iconUrl" class="icon-28" />
          <div>
            <mat-icon>arrow_forward</mat-icon>
          </div>
          <div class="amount">{{ record.to.amount }}</div>
          <img [src]="getAsset(record.to.asset).icon | iconUrl" class="icon-28" />
          } @else if (record.to.account === account) {

          <!--transfer to current account-->
          <div>{{ getAccount(record.from.account).name }}</div>
          <img [src]="getAccount(record.from.account).icon | iconUrl" class="icon-28" />
          <div class="amount">{{ record.from.amount }}</div>
          <img [src]="getAsset(record.from.asset).icon | iconUrl" class="icon-28" />
          <div>
            <mat-icon>arrow_forward</mat-icon>
          </div>
          <div class="amount">{{ record.to.amount }}</div>
          <img [src]="getAsset(record.to.asset).icon | iconUrl" class="icon-28" />
          } @else {
          <!--transfer from current account-->
          <div>{{ getAccount(record.to.account).name }}</div>
          <img [src]="getAccount(record.to.account).icon | iconUrl" class="icon-28" />
          <div class="amount">{{ record.to.amount }}</div>
          <img [src]="getAsset(record.to.asset).icon | iconUrl" class="icon-28" />
          <div>
            <mat-icon>arrow_back</mat-icon>
          </div>
          <div class="amount">{{ record.from.amount }}</div>
          <img [src]="getAsset(record.from.asset).icon | iconUrl" class="icon-28" />
          } } }
        </div>
        <div class="actions">
          <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-list-item>
  </mat-action-list>
</cdk-virtual-scroll-viewport>
