<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
  <div class="input-row">
    <div>
      <button type="button" class="icon-button" aria-label="Account icon" (click)="openIconsModal()">
        <img class="icon" [src]="accountForm.controls['icon'].value | iconUrl: defaultIcon" />
      </button>
    </div>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Account name</mat-label>
      <input matInput placeholder="Account name" formControlName="name" />
      @if (accountForm.controls['name'].invalid) {
      <mat-error>Account name is required</mat-error>
      }
    </mat-form-field>

    <app-grouped-select
      class="asset"
      label="Default asset"
      [service]="assetsService"
      [control]="accountForm.get('defaultAsset')"
      [isOptional]="true"
      [getId]="getAssetId"
      [getName]="getAssetTicker"
      [getIconId]="getAssetIcon"
      [defaultIcon]="defaultAssetIcon"></app-grouped-select>
  </div>

  <app-tags-selector class="input-row" [allTags]="[]" [selectedTags]="accountForm.value['tags']"></app-tags-selector>

  <div class="input-row">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>External account id</mat-label>
      <input matInput placeholder="External account id" formControlName="externalId" />
    </mat-form-field>
  </div>

  <mat-action-row>
    <button type="submit" mat-raised-button [disabled]="accountForm.invalid">Save</button>
    <button type="button" mat-button (click)="onClose()">Close</button>
    <!--    <button mat-button color="primary">Delete</button>-->
  </mat-action-row>
</form>
