<mat-toolbar color="primary" class="toolbar">
  <a mat-button
     aria-label="Home"
     class="toolbar-button"
     routerLink="/"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>wallet</mat-icon>
    WalletState
  </a>

  <a mat-button
     aria-label="Accounts"
     class="toolbar-button"
     routerLink="/accounts"
     routerLinkActive="active"
     *ngIf="!!user?.wallet">
    Accounts
  </a>

  <a mat-button
     aria-label="Categories"
     class="toolbar-button"
     routerLink="/categories"
     routerLinkActive="active"
     *ngIf="!!user?.wallet">
    Categories
  </a>

  <span class="toolbar-spacer"></span>
  <button mat-icon-button
          aria-label="User"
          [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu" yPosition="below" xPosition="before">
    <a mat-menu-item routerLink="/user">
      <mat-icon>account_box</mat-icon>
      <span>User account</span>
    </a>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
