<div class="center-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Welcome to WalletState</mat-card-subtitle>
    </mat-card-header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field appearance="outline" class="login-input">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" />
          <mat-icon matSuffix>account_circle</mat-icon>

          <mat-error *ngIf="loginForm.controls['username'].invalid">Username is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-input">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password" />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.controls['username'].invalid">Password is required</mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="rememberMe">Remember me!</mat-checkbox>
        <mat-error *ngIf="loginError">{{ loginError }}</mat-error>
      </mat-card-content>

      <mat-card-actions align="end" class="login-action">
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
