<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <div class="input-row">
    <div style="margin-right: 20px">
      <button type="button" class="icon-button" aria-label="Category icon" (click)="openIconsModal()">
        <img class="icon" [src]="categoryForm.controls['icon'].value | iconUrl: defaultIcon" />
      </button>
    </div>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Category name</mat-label>
      <input matInput placeholder="Category name" formControlName="name" />
      @if (categoryForm.controls['name'].invalid) {
      <mat-error>Category name is required</mat-error>
      }
    </mat-form-field>
  </div>

  <app-tags-selector class="input-row" [allTags]="[]" [selectedTags]="categoryForm.value['tags']"></app-tags-selector>

  <mat-action-row>
    <button type="submit" mat-raised-button [disabled]="categoryForm.invalid">Save</button>
    <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    <!--    <button mat-button color="primary">Delete</button>-->
  </mat-action-row>
</form>
