<mat-toolbar color="primary">
  <div class="global-container">
    @if (isSmallScreen) {
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    }

    <a routerLink="/" class="logo-container">
      <mat-icon>wallet</mat-icon>
      <span class="nav-caption">Wallet State</span>
    </a>

    @if (!isSmallScreen) {
    <ul class="navigation-items">
      @if (!!user?.wallet) {
      <li>
        <a routerLink="/accounts">Accounts</a>
      </li>
      <li>
        <a routerLink="/analytics">Analytics</a>
      </li>
      <li>
        <a routerLink="/settings">Settings</a>
      </li>
      }
      <li>
        <button class="icon-button" aria-label="User" [matMenuTriggerFor]="userMenu">
          <!--          <mat-icon>account_circle</mat-icon>-->
          <img class="icon" [src]="userProfileIcon | iconUrl" />
        </button>
        <mat-menu #userMenu="matMenu" yPosition="below" xPosition="before">
          <a mat-menu-item routerLink="/user">
            <mat-icon>account_box</mat-icon>
            <span>User profile</span>
          </a>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </li>
    </ul>
    }
  </div>
</mat-toolbar>
