<mat-card class="accounts">
  <mat-card-header>
    @if (!isSearchMode ) {
    <mat-card-title-group>
      <mat-card-title>Accounts</mat-card-title>
      <div>
        <button mat-icon-button (click)="onSearchClick()" matTooltip="Search account">
          <mat-icon>search</mat-icon>
        </button>
        <!--        <button mat-icon-button [routerLink]="['create']" matTooltip="Create new account">-->
        <!--          <mat-icon>add</mat-icon>-->
        <!--        </button>-->
        <!--        <button mat-icon-button>-->
        <!--          <mat-icon>swap_vert</mat-icon>-->
        <!--        </button>-->
      </div>
    </mat-card-title-group>
    } @else if (isSearchMode) {
    <mat-card-title-group>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="narrow-form-field">
        <input matInput placeholder="Search..." (keydown.escape)="onClose()" />
      </mat-form-field>

      <div>
        <button mat-icon-button (click)="onClose()" matTooltip="Close search input">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-title-group>
    }
  </mat-card-header>

  <mat-card-content>
    <mat-nav-list>
      @for (group of groups; track group) {
      <div>
        <div class="group">
          <h3 matSubheader class="group-header">{{ group.name }}</h3>
        </div>

        @for (account of group.items; track account) {
        <mat-list-item routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive" [routerLink]="[account.id]">
          <img matListItemAvatar [src]="account.icon | iconUrl" alt="account-icon" />
          <a matListItemTitle> {{ account.name }} </a>
          <p matListItemLine>
            @for (tag of account.tags; track tag) {
            <span>#{{ tag }} </span>
            }
          </p>
        </mat-list-item>
        }
      </div>
      }
    </mat-nav-list>
  </mat-card-content>
</mat-card>
