<app-grouped-entities [groupedService]="categoriesService" (groupSelected)="onSelectGroup($event)">
  @if (group) {
  <mat-list>
    @for (category of group.items; track category) {
    <app-category-item [category]="category"></app-category-item>
    }
  </mat-list>
  @if(showNewCategoryForm) {
  <app-category-item
    [group]="group.id"
    [idx]="group.items?.length + 1"
    [editMode]="true"
    (save)="createCategory($event)"></app-category-item>
  } @else {
  <button mat-button (click)="showNewCategoryForm = true"><mat-icon>add</mat-icon> Add category</button>
  } }
</app-grouped-entities>
