
.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-header {
  margin: 0;
  font-size: 18px;
}

.group-actions {

}

.group-action {

}

.hidden-actions {
  visibility: hidden;
}

.group:hover .hidden-actions {
  visibility: visible;
}
