<form [formGroup]="recordForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <mat-button-toggle-group formControlName="type">
          <mat-button-toggle [value]="recordType.Spending" aria-label="Spending">Spending</mat-button-toggle>
          <mat-button-toggle [value]="recordType.Transfer" aria-label="Transfer">Transfer</mat-button-toggle>
          <mat-button-toggle [value]="recordType.Income" aria-label="Income">Income</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <!--      from to-->
      <div class="row">
        <!--        from-->
        <div formGroupName="from" class="account-asset-amount">
          <p [class.opacity-60]="recordForm.get('from').disabled">From</p>
          <app-grouped-select
            label="Account"
            [service]="accountsService"
            [control]="recordForm.get('from').get('account')"
            [getId]="getItemId"
            [getName]="getItemName"
            [getIconId]="getItemIcon"
            [defaultIcon]="defaultAccountIcon"></app-grouped-select>

          <div class="asset-amount">
            <app-grouped-select
              class="asset"
              label="Asset"
              [service]="assetsService"
              [control]="recordForm.get('from').get('asset')"
              [getId]="getItemId"
              [getName]="getAssetTicker"
              [getIconId]="getItemIcon"
              [defaultIcon]="defaultAssetIcon"></app-grouped-select>

            <mat-form-field appearance="outline" class="amount">
              <mat-label>Amount</mat-label>
              <input type="number" matInput formControlName="amount" />
            </mat-form-field>
          </div>
        </div>
        <!--        to-->
        <div formGroupName="to" class="account-asset-amount">
          <p [class.opacity-60]="recordForm.get('to').disabled">To</p>
          <app-grouped-select
            label="Account"
            [service]="accountsService"
            [control]="recordForm.get('to').get('account')"
            [getId]="getItemId"
            [getName]="getItemName"
            [getIconId]="getItemIcon"
            [defaultIcon]="defaultAccountIcon"></app-grouped-select>

          <div class="asset-amount">
            <app-grouped-select
              class="asset"
              label="Asset"
              [service]="assetsService"
              [control]="recordForm.get('to').get('asset')"
              [getId]="getItemId"
              [getName]="getAssetTicker"
              [getIconId]="getItemIcon"
              [defaultIcon]="defaultAssetIcon"></app-grouped-select>

            <mat-form-field appearance="outline" class="amount">
              <mat-label>Amount</mat-label>
              <input type="number" matInput formControlName="amount" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <!--      category/ time -->
      <div class="row">
        <app-grouped-select
          class="category"
          label="Category"
          [service]="categoriesService"
          [control]="recordForm.get('category')"
          [getId]="getItemId"
          [getName]="getItemName"
          [getIconId]="getItemIcon"
          [defaultIcon]="defaultCategoryIcon"></app-grouped-select>

        <mat-form-field appearance="outline" class="date">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="datetime" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="time">
          <mat-label>Time</mat-label>
          <input matInput type="time" formControlName="time" />
        </mat-form-field>
      </div>

      <!--      description -->
      <div class="row">
        <mat-form-field appearance="outline" class="description">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <!--      tags-->
      <div class="row">
        <app-tags-selector [allTags]="[]" [selectedTags]="recordForm.value['tags']" class="tags"></app-tags-selector>
      </div>

      <!--      spent on/generated by-->
      <div class="row">
        <app-grouped-select
          class="asset"
          label="Spent on"
          [service]="assetsService"
          [control]="recordForm.get('spentOn')"
          [isOptional]="true"
          [getId]="getItemId"
          [getName]="getAssetTicker"
          [getIconId]="getItemIcon"
          [defaultIcon]="defaultAssetIcon"
          [filterPredicate]="notFiat"></app-grouped-select>

        <app-grouped-select
          class="asset"
          label="Generated by"
          [service]="assetsService"
          [control]="recordForm.get('generatedBy')"
          [isOptional]="true"
          [getId]="getItemId"
          [getName]="getAssetTicker"
          [getIconId]="getItemIcon"
          [defaultIcon]="defaultAssetIcon"
          [filterPredicate]="notFiat"></app-grouped-select>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button type="submit" mat-button color="primary" [disabled]="recordForm.invalid">Save</button>
      <button type="button" mat-button color="warn" (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
