<mat-tab-group mat-stretch-tabs class="filters-tab mat-elevation-z3">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>account_balance_wallet</mat-icon>
    </ng-template>

    <mat-card class="filter-content">
      <app-accounts-filter></app-accounts-filter>
    </mat-card>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>category</mat-icon>
    </ng-template>
    <mat-card class="filter-content"> </mat-card>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>tag</mat-icon>
    </ng-template>
    <mat-card class="filter-content"> </mat-card>
  </mat-tab>
</mat-tab-group>
