<div class="filter-row" [formGroup]="filterForm">
  <mat-form-field appearance="outline" class="filter-form-field">
    <mat-label>Details for Record Type</mat-label>
    <mat-select formControlName="recordType">
      <mat-option [value]="spendingRecordType">{{ spendingRecordType }}</mat-option>
      <mat-option [value]="incomeRecordType">{{ incomeRecordType }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="filter-form-field">
    <mat-label>First period</mat-label>
    <mat-date-range-input [rangePicker]="firstPicker" formGroupName="first">
      <input matStartDate placeholder="Start date" formControlName="start" />
      <input matEndDate placeholder="End date" formControlName="end" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="firstPicker"></mat-datepicker-toggle>
    <mat-date-range-picker #firstPicker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field appearance="outline" class="filter-form-field">
    <mat-label>Second period</mat-label>
    <mat-date-range-input [rangePicker]="secondPicker" formGroupName="second">
      <input matStartDate placeholder="Start date" formControlName="start" />
      <input matEndDate placeholder="End date" formControlName="end" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="secondPicker"></mat-datepicker-toggle>
    <mat-date-range-picker #secondPicker></mat-date-range-picker>
  </mat-form-field>
  <div class="filter-form-field" style="max-width: 120px">
    <mat-checkbox formControlName="byFinalAsset">Final Asset</mat-checkbox>
  </div>
</div>

<mat-progress-bar
  class="progress-bar-with-white-back"
  [mode]="isLoading ? 'indeterminate' : 'determinate'"
  value="0"></mat-progress-bar>

<section class="table-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="name" [sticky]="true">
      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="name-column group-name-column">
        Category group name / Category name
      </th>
      <td mat-cell *matCellDef="let item" class="name-column" [class.category-name-column]="!isGroup(item)">
        @if(!isGroup(item)) {<img [src]="item['icon'] | iconUrl" class="icon-24" />} {{ item.name }}
      </td>
      <td mat-footer-cell *matFooterCellDef>Total Profit</td>
    </ng-container>

    <ng-container [matColumnDef]="totalIncomeColumn('name')" [sticky]="true">
      <td mat-footer-cell *matFooterCellDef>Total Income</td>
    </ng-container>

    <ng-container [matColumnDef]="totalSpendingColumn('name')" [sticky]="true">
      <td mat-footer-cell *matFooterCellDef>Total Spending</td>
    </ng-container>

    <ng-container matColumnDef="first-header">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="nonZeroAssetsIds.length">First period</th>
    </ng-container>

    <ng-container matColumnDef="second-header">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="nonZeroAssetsIds.length">Second period</th>
    </ng-container>

    <ng-container matColumnDef="diff-header">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="nonZeroAssetsIds.length">Diff</th>
    </ng-container>

    @for (assetId of allAssetsIds; track assetId) {
    <ng-container [matColumnDef]="assetColumn('first', assetId)">
      <th mat-header-cell *matHeaderCellDef>{{ getAsset(assetId).ticker }}</th>
      <td mat-cell *matCellDef="let item">{{ getColumnValue('first', item.id, assetId) }}</td>
      <td mat-footer-cell *matFooterCellDef>{{ getColumnValue('first', 'total-profit', assetId) }}</td>
    </ng-container>

    <ng-container [matColumnDef]="assetColumn('second', assetId)">
      <th mat-header-cell *matHeaderCellDef>{{ getAsset(assetId).ticker }}</th>
      <td mat-cell *matCellDef="let item">{{ getColumnValue('second', item.id, assetId) }}</td>
      <td mat-footer-cell *matFooterCellDef>{{ getColumnValue('second', 'total-profit', assetId) }}</td>
    </ng-container>

    <ng-container [matColumnDef]="assetColumn('diff', assetId)">
      <th mat-header-cell *matHeaderCellDef>{{ getAsset(assetId).ticker }}</th>
      <td mat-cell *matCellDef="let item">{{ getDiffValue(item.id, assetId) }}</td>
      <td mat-footer-cell *matFooterCellDef>{{ getDiffValue('total-profit', assetId) }}</td>
    </ng-container>

    <!--  Total income footer    -->
    <ng-container [matColumnDef]="totalIncomeColumn(assetColumn('first', assetId))">
      <td mat-footer-cell *matFooterCellDef>{{ getColumnValue('first', 'total-income', assetId) }}</td>
    </ng-container>

    <ng-container [matColumnDef]="totalIncomeColumn(assetColumn('second', assetId))">
      <td mat-footer-cell *matFooterCellDef>{{ getColumnValue('second', 'total-income', assetId) }}</td>
    </ng-container>

    <ng-container [matColumnDef]="totalIncomeColumn(assetColumn('diff', assetId))">
      <td mat-footer-cell *matFooterCellDef>{{ getDiffValue('total-income', assetId) }}</td>
    </ng-container>

    <!--  Total spending footer    -->
    <ng-container [matColumnDef]="totalSpendingColumn(assetColumn('first', assetId))">
      <td mat-footer-cell *matFooterCellDef>{{ getColumnValue('first', 'total-spending', assetId) }}</td>
    </ng-container>

    <ng-container [matColumnDef]="totalSpendingColumn(assetColumn('second', assetId))">
      <td mat-footer-cell *matFooterCellDef>{{ getColumnValue('second', 'total-spending', assetId) }}</td>
    </ng-container>

    <ng-container [matColumnDef]="totalSpendingColumn(assetColumn('diff', assetId))">
      <td mat-footer-cell *matFooterCellDef>{{ getDiffValue('total-spending', assetId) }}</td>
    </ng-container>
    }

    <ng-container matColumnDef="expand" stickyEnd>
      <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="expand-toggle">&nbsp;</th>
      <td mat-cell *matCellDef="let item" class="expand-toggle">
        @if (isGroup(item)) {
        <button mat-icon-button aria-label="expand row" (click)="toggleGroup(item); $event.stopPropagation()">
          @if (expandedGroup === item) {
          <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
          <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </button>
        } @else { &nbsp; }
      </td>
      <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headerColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="subheaderColumns; sticky: true"></tr>

    <tr mat-row *matRowDef="let item; columns: valuesColumns" [class.group-row]="isGroup(item)"></tr>

    <tr mat-footer-row *matFooterRowDef="totalSpendingColumns; sticky: true" class="footer-row first-footer-row"></tr>
    <tr mat-footer-row *matFooterRowDef="totalIncomeColumns; sticky: true" class="footer-row"></tr>
    <tr mat-footer-row *matFooterRowDef="valuesColumns; sticky: true" class="footer-row"></tr>
  </table>
</section>
