/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

// The following mixins include base theme styles that are only needed once per application. These
// theme styles do not depend on the color, typography, or density settings in your theme. However,
// these styles may differ depending on the theme's design system. Currently all themes use the
// Material 2 design system, but in the future it may be possible to create theme based on other
// design systems, such as Material 3.
//
// Please note: you do not need to include the 'base' mixins, if you include the corresponding
// 'theme' mixin elsewhere in your Sass. The full 'theme' mixins already include the base styles.
//
// To learn more about "base" theme styles visit our theming guide:
// https://material.angular.io/guide/theming#theming-dimensions
//
// TODO(v17): Please move these @include statements to the preferred place in your Sass, and pass
// your theme to them. This will ensure the correct values for your app are included.
//@include mat.form-field-base(/* TODO(v17): pass $your-theme here */);

//material
.narrow-form-field {
  @include mat.form-field-density(-5);
}

//end material

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 84px);
}

.global-container {
  //width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

.show-on-hover-container:not(:hover) .show-on-hover-item {
  visibility: hidden;
}

.opacity-60 {
  opacity: 60%;
}

.icon-36 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  vertical-align: middle;
}

.icon-28 {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  vertical-align: middle;
}

.icon-42 {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  vertical-align: middle;
}

.mat-option-with-icon {
  padding-left: 10px !important;
}

.mat-option-icon {
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 50%;
}
