.add-record-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: stretch;
  align-items: stretch;
}

.widget {
  min-width: 280px;
  flex: 1;
}
