<button mat-fab color="accent" aria-label="Add new record" class="add-record-button" (click)="createRecordDialog()">
  <mat-icon>add</mat-icon>
</button>

<h2>Dashboard</h2>
<p class="opacity-60">Very simple for now. More widgets in future</p>
<div class="container">
  @for (accountsGroup of accounts | async; track accountsGroup) {
  <!--    -->
  @for (account of accountsGroup.items; track account) {
  <app-account-balance-widget [account]="account" class="widget"></app-account-balance-widget>
  } }
</div>
