mat-card {
  margin-bottom: 20px;
}


.list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: stretch;
  padding: 10px;
}

.no-wrap-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.latest-block {
  margin-left: auto;
}

.type-icon-and-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
}

.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
